* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

a {
  color: #444;
  text-decoration: none; }

body::-webkit-scrollbar {
  width: 0; }

li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #222; }

li > ul {
  padding-left: 40px; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-weight: 700;
  color: #222; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #222; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #222; }

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #222; }

input {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #222;
  outline: none; }

textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 0 5px;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #222;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type="text"] {
  padding: 0 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  width: calc(100% - 37px);
  box-sizing: border-box;
  line-height: 30px; }

input[type="submit"] {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  width: 200px;
  background: none;
  margin: 10px auto 0;
  cursor: pointer;
  transition: .3s; }
  input[type="submit"]:hover {
    border: 1px solid #000;
    color: #000; }

.categories {
  clear: both;
  float: left;
  width: 100%;
  margin: 10px 0; }
  .categories h3 {
    margin-bottom: 5px; }
  .categories nav .category {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative; }
    .categories nav .category input {
      position: absolute;
      background: #4cc;
      border: 30px solid #4cc;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .categories nav .category input::after {
        width: 100%;
        height: 100%;
        line-height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        content: attr(data-value);
        font-size: 0.9rem;
        background: #fff;
        outline: none;
        text-align: center; }
      .categories nav .category input:checked::after {
        border: 1px solid #222; }
    .categories nav .category h5 {
      line-height: 30px;
      padding: 0 10px; }

main {
  background: #f5f5f5; }
  main .container {
    max-width: 1000px;
    padding: 0 10px;
    margin: auto; }
    main .container h1 {
      line-height: 100px;
      width: calc(100% - 100px);
      float: left; }
    main .container .logout {
      font-family: "Roboto", sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: #222;
      width: 100px;
      text-align: center;
      line-height: 100px;
      float: left; }
    main .container .addProduct {
      overflow-x: hidden;
      background: #fff;
      float: left;
      padding: 10px;
      border-radius: 3px;
      box-sizing: border-box;
      width: calc((100% - 10px) / 2);
      margin-right: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
      main .container .addProduct h2 {
        margin-bottom: 10px; }
      main .container .addProduct .name {
        float: left; }
      main .container .addProduct .photo {
        float: left;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        position: relative; }
        main .container .addProduct .photo input {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(134, 45, 255, 0.5);
          opacity: 0; }
        main .container .addProduct .photo i {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0; }
      main .container .addProduct #target {
        max-width: 50%;
        margin: auto;
        display: block;
        clear: both;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        display: none; }
      main .container .addProduct .amount {
        width: 100%; }
    main .container .addCategory {
      overflow-x: hidden;
      background: #fff;
      width: calc((100% - 10px) / 2);
      padding: 10px;
      float: left;
      border-radius: 3px;
      margin-left: 5px;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
      main .container .addCategory h2 {
        margin-bottom: 10px; }
      main .container .addCategory ul li {
        display: flex;
        align-items: center;
        line-height: 30px; }
        main .container .addCategory ul li form {
          height: 30px;
          display: inline-block;
          margin-left: 2px;
          cursor: pointer; }
          main .container .addCategory ul li form i {
            line-height: 30px; }
      main .container .addCategory ul .catAddingForm {
        padding: 10px 0;
        box-sizing: border-box;
        height: 100px; }
        main .container .addCategory ul .catAddingForm input:first-child {
          line-height: 30px;
          box-sizing: border-box;
          font-size: 0.9rem;
          width: 200px; }
        main .container .addCategory ul .catAddingForm input:nth-child(2) {
          width: 100%;
          font-size: 1rem;
          margin: 10px 0;
          line-height: 30px;
          box-sizing: border-box;
          width: 200px; }
    main .container .products {
      clear: both;
      margin-top: 20px; }
      main .container .products h2 {
        text-align: center;
        margin-top: 20px;
        width: 100%;
        display: inline-block; }
      main .container .products .product {
        width: calc((100% - 10px) / 2);
        float: left;
        margin: 0px 5px 20px 0px;
        box-sizing: border-box;
        cursor: pointer; }
        main .container .products .product:hover img {
          transform: translateY(-2px);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
        main .container .products .product:hover h3 {
          border-bottom: 1px solid #000;
          color: #000; }
        main .container .products .product:nth-of-type(even) {
          margin: 0px 0px 20px 5px; }
        main .container .products .product img {
          width: 100%;
          transition: .3s;
          object-fit: cover;
          display: block;
          border-radius: 3px; }
        main .container .products .product h3 {
          font-size: 1.2em;
          font-family: "Playfair Display", serif;
          font-weight: 700;
          border-bottom: 1px solid transparent;
          color: #222;
          transition: .3s;
          margin-bottom: 2px;
          display: inline-block; }
          main .container .products .product h3:nth-of-type(2) {
            display: block;
            float: right;
            border: none !important; }
        main .container .products .product h5 {
          font-size: 0.9em;
          font-family: "Roboto", sans-serif;
          font-weight: 300; }
        main .container .products .product button {
          line-height: 30px;
          border: 1px solid #ccc;
          border-radius: 3px;
          display: block;
          width: 200px;
          background: none;
          margin: 10px auto 0;
          cursor: pointer;
          transition: .3s;
          font-family: "Roboto", sans-serif;
          font-size: 1em;
          font-weight: 300;
          color: #222;
          outline: none; }
          main .container .products .product button:hover {
            border: 1px solid #000;
            color: #000; }
      main .container .products .loadMore {
        clear: both;
        margin: 20px 0 40px;
        display: inline-block;
        width: 100%; }
        main .container .products .loadMore input {
          transition: .3s;
          display: block;
          font-size: 1em;
          border: none;
          border-bottom: 1px solid #ccc;
          font-family: "Roboto", sans-serif;
          color: #444;
          font-weight: 300;
          text-transform: uppercase;
          text-align: center;
          width: 200px;
          margin: auto;
          background: none;
          cursor: pointer;
          outline: none;
          border-radius: 0px; }
          main .container .products .loadMore input:hover {
            border-bottom: 1px solid #000;
            color: #000; }
