@media (min-width: 768.5px) {
  main {
    padding: 100px 0 0 0;
    background: #f5f5f5;
    overflow: hidden; }
    main .showcase__header {
      font-size: 2em;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #444;
      font-family: "Playfair Display", serif;
      text-align: center;
      padding: 0 10px; }
    main .showcase__buttons {
      border-radius: 3px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 300;
      overflow: hidden;
      margin-bottom: 50px; }
      main .showcase__buttons a {
        line-height: 30px;
        color: #444;
        text-align: center;
        max-width: 200px;
        margin: auto;
        display: block;
        transition: .3s;
        border-bottom: 1px solid #ddd; }
        main .showcase__buttons a:hover {
          border-bottom: 1px solid #000; }
    main .column {
      width: calc((100% - 10px) / 2);
      margin-bottom: 30px;
      float: left;
      height: 200px;
      border-radius: 3px;
      transition: .3s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      main .column:nth-of-type(even) {
        float: right; }
      main .column:hover {
        transform: translateY(-2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
        main .column:hover h3 {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) !important;
          color: #000; }
      main .column h3 {
        font-size: 1.2em;
        transition: .3s;
        border-radius: 3px;
        font-family: "Playfair Display", serif;
        color: #222;
        background: #fff;
        position: absolute;
        text-align: center;
        width: 50%;
        bottom: -12px;
        line-height: 24px;
        padding: 5px 10px;
        box-sizing: border-box;
        left: 5%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
    main #productsNotFound {
      display: block;
      clear: both;
      height: calc(100vh - 200px);
      font-family: "Roboto", sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: #444; }
    main .asideLeft {
      float: left;
      width: 70%;
      margin-bottom: 20px;
      padding-top: 30px; }
      main .asideLeft h1 {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        color: #444;
        font-size: 2em;
        line-height: 30px; }
      main .asideLeft a {
        line-height: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 1em;
        font-weight: 300;
        color: #444;
        text-decoration: underline;
        display: block;
        margin-bottom: calc(100% - 320px); }
      main .asideLeft h5 {
        line-height: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 1em;
        font-weight: 300;
        color: #444;
        margin-top: 5px; }
    main .asideRight {
      float: right;
      width: 30%;
      margin-bottom: 40px;
      position: relative;
      z-index: 1; }
      main .asideRight a {
        background: #f5f5f5;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #444;
        line-height: 30px;
        text-align: center;
        display: block;
        float: right;
        width: 200px;
        padding-top: 30px;
        cursor: pointer;
        position: relative;
        transition: .3s;
        z-index: 999; }
        main .asideRight a span {
          min-width: 100%;
          height: 1px;
          background: #000;
          opacity: 0.6;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: .3s;
          transition-timing-function: ease-in-out; }
        main .asideRight a:hover {
          color: #000; }
          main .asideRight a:hover span {
            opacity: 1; }
      main .asideRight form {
        max-height: 1000px !important;
        position: absolute;
        background: #fff;
        box-shadow: 0px;
        border-radius: 0px 0px 3px 3px;
        display: block;
        opacity: 0;
        transform: translateY(-100%);
        transition: .3s;
        width: 190px;
        padding: 5px;
        top: 60px;
        right: 5px;
        box-sizing: border-box; }
        main .asideRight form input {
          line-height: 30px;
          cursor: pointer;
          outline: none;
          font-weight: 300;
          font-size: 0.9em;
          transition: .3s;
          display: block;
          clear: both;
          width: 100%;
          text-align: left;
          font-family: "Roboto", sans-serif;
          background: #fff;
          border: none;
          color: #444;
          border-bottom: 1px solid transparent;
          box-sizing: border-box; }
          main .asideRight form input:hover {
            border-bottom: 1px solid #000;
            color: #000 !important; }
    main .main__product {
      width: calc((100% - 10px) / 2);
      float: left;
      margin: 0px 5px 20px 0px;
      box-sizing: border-box;
      cursor: pointer; }
      main .main__product:hover img {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
      main .main__product:hover h2 {
        border-bottom: 1px solid #000;
        color: #000; }
      main .main__product:nth-of-type(even) {
        margin: 0px 0px 20px 5px; }
      main .main__product img {
        width: 100%;
        transition: .3s;
        object-fit: cover;
        display: block;
        border-radius: 3px; }
      main .main__product h2 {
        font-size: 1.2em;
        font-family: "Playfair Display", serif;
        border-bottom: 1px solid transparent;
        color: #222;
        transition: .3s;
        margin-bottom: 2px;
        display: inline-block; }
        main .main__product h2:nth-of-type(2) {
          display: block;
          float: right;
          border: none !important; }
      main .main__product h5 {
        font-size: 0.9em;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    main .loadMore {
      clear: both;
      margin: 20px 0 40px;
      display: inline-block;
      width: 100%; }
      main .loadMore input {
        transition: .3s;
        display: block;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid #ccc;
        font-family: "Roboto", sans-serif;
        color: #444;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        margin: auto;
        background: none;
        cursor: pointer;
        outline: none;
        border-radius: 0px; }
        main .loadMore input:hover {
          border-bottom: 1px solid #000;
          color: #000; } }

@media (max-width: 768.5px) {
  main {
    padding: 50px 0 0 0;
    background: #fafafa;
    overflow: hidden; }
    main .showcase__header {
      font-size: 2em;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #444;
      font-family: "Playfair Display", serif;
      text-align: center;
      padding: 0 10px; }
    main .showcase__buttons {
      border-radius: 3px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 300;
      overflow: hidden;
      margin-bottom: 50px; }
      main .showcase__buttons a {
        line-height: 30px;
        color: #444;
        text-align: center;
        max-width: 200px;
        margin: auto;
        display: block;
        transition: .3s;
        border-bottom: 1px solid #ddd; }
        main .showcase__buttons a:hover {
          border-bottom: 1px solid #000; }
    main .column {
      width: calc((100% - 10px) / 2);
      margin-bottom: 30px;
      float: left;
      height: 200px;
      border-radius: 3px;
      transition: .3s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      main .column:nth-of-type(even) {
        float: right; }
      main .column:hover {
        transform: translateY(-2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
        main .column:hover h3 {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) !important;
          color: #000; }
    main h3 {
      font-size: 1.2em;
      transition: .3s;
      border-radius: 3px;
      font-family: "Playfair Display", serif;
      color: #222;
      background: #fff;
      position: absolute;
      text-align: center;
      width: 90%;
      bottom: -12px;
      line-height: 24px;
      padding: 5px 10px;
      box-sizing: border-box;
      left: 5%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
    main .asideLeft {
      width: 100%;
      padding-top: 30px;
      position: relative;
      z-index: 2; }
      main .asideLeft h1 {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        color: #444;
        background: #fafafa;
        font-size: 1.5em;
        line-height: 30px; }
      main .asideLeft a {
        line-height: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 1em;
        font-weight: 300;
        color: #444;
        text-decoration: underline;
        margin-bottom: 100%;
        display: block; }
      main .asideLeft h5 {
        line-height: 20px;
        background: #fafafa;
        font-family: "Roboto", sans-serif;
        font-size: 1em;
        font-weight: 300;
        color: #444; }
    main .asideRight {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: calc((100% - 200px) / 2);
      position: relative;
      z-index: 1; }
      main .asideRight a {
        background: #fafafa;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #444;
        line-height: 30px;
        text-align: center;
        display: block;
        float: right;
        width: 200px;
        padding-top: 10px;
        cursor: pointer;
        position: relative;
        transition: .3s;
        z-index: 999; }
        main .asideRight a span {
          min-width: 100%;
          height: 1px;
          background: #000;
          opacity: 0.6;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: .3s;
          transition-timing-function: ease-in-out; }
        main .asideRight a:hover {
          color: #000; }
          main .asideRight a:hover span {
            opacity: 1; }
      main .asideRight form {
        max-height: 1000px !important;
        position: absolute;
        background: #fff;
        box-shadow: 0px;
        border-radius: 0px 0px 3px 3px;
        display: block;
        opacity: 0;
        transform: translateY(-100%);
        transition: .3s;
        width: 190px;
        padding: 5px;
        top: 40px;
        right: 5px;
        box-sizing: border-box; }
        main .asideRight form input {
          outline: none;
          line-height: 30px;
          cursor: pointer;
          font-weight: 300;
          font-size: 0.9em;
          transition: .3s;
          display: block;
          clear: both;
          width: 100%;
          text-align: left;
          font-family: "Roboto", sans-serif;
          background: #fff;
          border: none;
          color: #444;
          border-bottom: 1px solid transparent;
          box-sizing: border-box; }
          main .asideRight form input:hover {
            border-bottom: 1px solid #000;
            color: #000 !important; }
    main .main__product {
      width: calc(100%);
      float: left;
      margin-bottom: 20px;
      box-sizing: border-box;
      cursor: pointer; }
      main .main__product:hover img {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
      main .main__product:hover h2 {
        border-bottom: 1px solid #000;
        color: #000; }
      main .main__product img {
        width: 100%;
        transition: .3s;
        object-fit: cover;
        display: block;
        border-radius: 3px; }
      main .main__product h2 {
        font-size: 1.2em;
        font-family: "Playfair Display", serif;
        border-bottom: 1px solid transparent;
        color: #222;
        transition: .3s;
        margin-bottom: 2px;
        display: inline-block; }
        main .main__product h2:nth-of-type(2) {
          display: block;
          float: right;
          border: none !important; }
      main .main__product h5 {
        font-size: 0.9em;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    main .loadMore {
      clear: both;
      margin: 20px 0 40px;
      display: inline-block;
      width: 100%; }
      main .loadMore input {
        transition: .3s;
        outline: none;
        display: block;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid #ccc;
        font-family: "Roboto", sans-serif;
        color: #444;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        margin: auto;
        background: none;
        cursor: pointer; }
        main .loadMore input:hover {
          border-bottom: 1px solid #000;
          color: #000; } }
