@media (min-width: 768.5px) {
  main {
    padding: 100px 0 0 0;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    color: #444;
    background: #f5f5f5; }
    main .container h1 {
      line-height: 100px;
      color: #555;
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      position: relative; }
    main .container .showcase {
      height: 300px;
      padding-top: 10px;
      position: relative;
      border-radius: 3px;
      background-color: #fff;
      background-image: url("img/showcase.jpg");
      background-repeat: no-repeat;
      background-position: center; }
      main .container .showcase .showcase__header {
        margin-bottom: 10px;
        font-size: 3em;
        font-weight: 700;
        color: #fff;
        font-family: "Playfair Display", serif;
        text-align: left;
        padding: 0 50px;
        text-shadow: 0px 5px 10px #000; }
      main .container .showcase p {
        font-family: "Roboto", sans-serif;
        color: #fff;
        font-weight: 300;
        text-align: right;
        float: right;
        padding: 20px 20px 20px 50%;
        background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8)); }
      main .container .showcase .showcase__buttons {
        background: #fff;
        border-radius: 3px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 400;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        position: absolute;
        bottom: -20px;
        transition: .8s;
        right: 5px; }
        main .container .showcase .showcase__buttons a {
          line-height: 30px;
          color: #000;
          text-align: center;
          float: right;
          width: 300px;
          display: block;
          margin: 5px;
          transition: .3s;
          border-bottom: 1px solid transparent; }
          main .container .showcase .showcase__buttons a:hover {
            border-bottom: 1px solid #000; }
    main .container .column {
      width: calc((100% - 30px) / 4);
      margin: 50px 5px 30px;
      float: left;
      height: 200px;
      border-radius: 3px;
      transition: .3s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      main .container .column:hover {
        transform: translateY(-2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
        main .container .column:hover h3 {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) !important;
          color: #000; }
      main .container .column:first-of-type {
        margin-left: 0; }
      main .container .column:last-of-type {
        margin-right: 0; }
      main .container .column h3 {
        font-size: 1.2em;
        transition: .3s;
        border-radius: 3px;
        font-family: "Playfair Display", serif;
        color: #222;
        background: #fff;
        position: absolute;
        bottom: -15px;
        line-height: 30px;
        padding: 0 10px;
        left: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
    main .container .lastProductsHeader {
      font-size: 1.5em;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      color: #222;
      font-family: "Playfair Display", serif;
      text-align: center; }
    main .container .main__product {
      width: calc((100% - 10px) / 2);
      float: left;
      margin: 0px 5px 20px 0px;
      box-sizing: border-box;
      cursor: pointer; }
      main .container .main__product:hover img {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
      main .container .main__product:hover h2 {
        border-bottom: 1px solid #000;
        color: #000; }
      main .container .main__product:nth-of-type(even) {
        margin: 0px 0px 20px 5px; }
      main .container .main__product img {
        width: 100%;
        transition: .3s;
        object-fit: cover;
        display: block;
        border-radius: 3px; }
      main .container .main__product h2 {
        font-size: 1.2em;
        font-family: "Playfair Display", serif;
        border-bottom: 1px solid transparent;
        color: #222;
        transition: .3s;
        margin-bottom: 2px;
        display: inline-block; }
        main .container .main__product h2:nth-of-type(2) {
          display: block;
          float: right;
          border: none !important; }
      main .container .main__product h5 {
        font-size: 0.9em;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    main .container .loadMore {
      clear: both;
      margin: 20px 0 40px;
      display: inline-block;
      width: 100%; }
      main .container .loadMore input {
        transition: .3s;
        display: block;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid #ccc;
        font-family: "Roboto", sans-serif;
        color: #444;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        margin: auto;
        background: none;
        cursor: pointer;
        outline: none;
        border-radius: 0px; }
        main .container .loadMore input:hover {
          border-bottom: 1px solid #000;
          color: #000; } }

@media (max-width: 768.5px) {
  main {
    padding: 50px 0 0 0;
    overflow-x: hidden;
    background: #fafafa; }
    main .container h1 {
      font-family: "Playfair Display", serif;
      font-weight: 300;
      color: #444;
      line-height: 22px;
      margin: 24px 0;
      text-align: center;
      font-size: 1em;
      position: relative; }
    main .container .showcase {
      height: 300px;
      padding-top: 10px;
      position: relative;
      border-radius: 3px;
      background-color: #fff;
      background-image: url("img/showcase.jpg");
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 70px; }
      main .container .showcase .showcase__header {
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: 700;
        color: #fff;
        font-family: "Playfair Display", serif;
        text-align: left;
        padding: 0 10px;
        text-shadow: 0px 5px 10px #000; }
      main .container .showcase p {
        font-family: "Roboto", sans-serif;
        color: #fff;
        font-weight: 300;
        text-align: right;
        float: right;
        padding: 10px 10px 10px 50px;
        background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8)); }
      main .container .showcase .showcase__buttons {
        background: #fff;
        border-radius: 3px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 300;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        position: absolute;
        bottom: -37.5px;
        transition: .8s;
        right: calc((100% - 260px) / 2); }
        main .container .showcase .showcase__buttons a {
          line-height: 30px;
          color: #000;
          text-align: center;
          width: 250px;
          max-width: 300px;
          display: block;
          margin: 5px;
          transition: .3s;
          border-bottom: 1px solid #f5f5f5; }
          main .container .showcase .showcase__buttons a:hover {
            border-bottom: 1px solid #000; }
    main .container .column {
      width: calc((100% - 10px) / 2);
      margin-bottom: 30px;
      float: left;
      height: 200px;
      border-radius: 3px;
      transition: .3s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      main .container .column:nth-of-type(even) {
        float: right; }
      main .container .column:hover {
        transform: translateY(-2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
        main .container .column:hover h3 {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) !important;
          color: #000; }
      main .container .column h3 {
        font-size: 1.2em;
        transition: .3s;
        border-radius: 3px;
        font-family: "Playfair Display", serif;
        color: #222;
        background: #fff;
        position: absolute;
        text-align: center;
        width: 90%;
        bottom: -12px;
        line-height: 24px;
        padding: 5px 10px;
        box-sizing: border-box;
        left: 5%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
    main .container .lastProductsHeader {
      font-size: 1.5em;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: 300;
      color: #222;
      font-family: "Playfair Display", serif;
      text-align: center; }
    main .container .main__product {
      width: calc(100%);
      float: left;
      margin-bottom: 20px;
      box-sizing: border-box;
      cursor: pointer; }
      main .container .main__product:hover img {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
      main .container .main__product:hover h2 {
        border-bottom: 1px solid #000;
        color: #000; }
      main .container .main__product img {
        width: 100%;
        transition: .3s;
        object-fit: cover;
        display: block;
        border-radius: 3px; }
      main .container .main__product h2 {
        font-size: 1.2em;
        font-family: "Playfair Display", serif;
        border-bottom: 1px solid transparent;
        color: #222;
        transition: .3s;
        margin-bottom: 2px;
        display: inline-block; }
        main .container .main__product h2:nth-of-type(2) {
          display: block;
          float: right;
          border: none !important; }
      main .container .main__product h5 {
        font-size: 0.9em;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    main .container .loadMore {
      clear: both;
      margin: 20px 0 40px;
      display: inline-block;
      width: 100%; }
      main .container .loadMore input {
        transition: .3s;
        outline: none;
        display: block;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid #ccc;
        font-family: "Roboto", sans-serif;
        color: #444;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        margin: auto;
        background: none;
        cursor: pointer; }
        main .container .loadMore input:hover {
          border-bottom: 1px solid #000;
          color: #000; } }
